*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: #434400;
   
}
form{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border:none;
    border-bottom: 2px solid rgb(61, 89, 243);
    background-color: rgb(254, 252, 249);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
fieldset{
    width:max-content;
    margin: 50px auto;
    padding:20px;
    background-color: rgb(255, 255, 255);
    border:none;
    border-radius:20px;
}
#terms{
    font-size: 9px;
    display:inline;  
    font-family: sans-serif;
}
div button{
    align-items: center;
    margin: 25px 0;
    width:70%;
    padding: 15px 40px;
    border-radius: 10px;
    border:none;
    background-color: rgb(61, 89, 243);
    color:white;
}
div p{
    font-family: sans-serif;
}
body{
    background-image:url(./assets/images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
div button:hover{
    background-color: rgb(242, 236, 236);
    color:rgb(61, 89, 243);
    cursor:pointer;
    transition: all 0.5s  ease-in-out;
    transform:scale(1.1);
}
input:focus { 
    box-shadow: rgba(0, 0, 0, 0.25) 0px 40px 40px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-bottom: 2px solid blue;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
}
input:hover{
    transition: all 0.5s ease-in-out;
    background-color: rgb(236, 236, 233);
}
